<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bosket/react</title>
    <link rel="stylesheet" href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default%2Ces2016%2Ces2017%2Ces2018%2Cblissfuljs%2Ces2015%2Ces5%2Ces6%2Ces7%2CAbortController%2CArray.from%2CArray.isArray%2CArray.of%2CArray.prototype.%40%40iterator%2CArray.prototype.entries%2CArray.prototype.copyWithin%2CArray.prototype.indexOf%2CArray.prototype.keys%2CArray.prototype.includes%2CArray.prototype.forEach%2CArray.prototype.flatMap%2CArray.prototype.flat%2CArray.prototype.findIndex%2CArray.prototype.find%2CArray.prototype.filter%2CArray.prototype.fill%2CArray.prototype.every%2CArray.prototype.lastIndexOf"></script>
</head>

<body>
    {{> ../templates/header react=true }}
    <div class="subtitle">
        <p>
            React implementation of Bosket, a collection of tree view components.
        </p>
    </div>
    <section>
        <div id="framework-root"></div>
    </section>
    {{> ../templates/footer }}
</body>

</html>
